.container-content {padding: 10px; margin-left: auto; margin-right: auto; max-width: 700px; margin-bottom: 0;
    text-align: center;}

.content {text-align: center; padding: 5px; margin-left: auto; margin-right: auto; max-width: 700px;}
.content {font-family: 'Lato', Helvetica, sans-serif;}

img {max-width: 100%; height: auto; border-radius: 5px;}

:root {

    /* Primary Colours */
    --L-primary: #F3FFEE;
    --S-primary: #00C853;
    --D-primary: #00864C;

    /* Primary Colours */
    --L-secondary: #EFF9FF;
    --S-secondary: #0091EA;
    --D-secondary: #006AB8;

    /* Grey Colours */
    --L-grey: #F5F5F5;
    --O-grey: #E0E0E0;
    --M-grey: #919191;
    --D-grey: #333333;

    /* Alert Colours */
    --L-alert: #FCF0F2;
    --S-alert: #FF1744;
    --D-alert: #C30000;
}

section:nth-child(odd) {
    background: var(--L-grey);
}

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0;
}

.page-header {
    position: relative;
}

/* Background Header Image */
.header-bg {
    opacity: .3;
    background-image: url(images/sdinside.jpg);
    background-size: cover;
    background-position: center 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter:blur(2.5px);
    transition:all linear 1.5s;
    transition-delay: .3s;
}

.header-bg--show {
    opacity:1;
    background-position: center 60%;
}

h1, h2 {
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 15px 0 0 0;
    color: var(--S-primary);
    font-size: 28px;
}

.mainheading {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 56px;
}

.welcomemessage {
    margin: 16px 0 32px 0;
    font-size: 28px;
}

.container-content div p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -.022em;
    color: var(--D-grey);
    text-align: left;
    font-style: normal;
    margin: 3px 0 3px 0;
    padding: 10px;
}

#images .an-image {
    margin: 15px 10px 30px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.an-image figcaption {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 10px;
    text-align: left;
    color: var(--S-primary);
    margin: 13px 0px 5px 0px;
}

@media screen and (min-width: 600px) {

    .image-gallery{
        margin: 0px 0;
    }
    .image-gallery .content {
        display: flex;
        text-align: left;
        justify-content: center;
        background: none;
      }
      .image-gallery .container-content {
        max-width: 1000px;
      }
      .an-image {
        flex: 33%; /* assumes three images */
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        background: none;
        max-width: 333px; /* Width of the three photos */
        text-align: center;
      }
}

.image-gallery .container-content {
    max-width: 100%;
    text-align: center;
}
.image-gallery .content {
    max-width: 1200px;
}

.profile-pic {
    margin: 32px 0 16px 0;
    border-radius: 50%; 
    width: 100%;
    max-width: 150px;
}

/* Page Navigation Bar */
.page-nav {
    -webkit-position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
}

.page-nav ul {
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    padding: 0;
}

.page-nav a {
    flex-wrap: wrap;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: var(--D-grey);
    font-weight: bold;
    background-color: #FFF;
}

.page-nav li {
    flex: 1 1 50%;
    display: flex;
}

.page-nav li:last-child {

}

.page-nav a {
    border-bottom: 2px solid transparent;
    padding: 15px 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

.page-nav a:hover {
    border-bottom-color: var(--S-primary);
    color: var(--S-primary);
}

@media screen and (min-width: 770px) {
    .page-nav ul {  flex-wrap: nowrap; }
    .page-nav li {
       flex: 1 1 25%;
    }
    .page-nav {
        margin: 0px 0px;
        justify-content: center;
        background: none;
        margin:auto;
        background: #FFF;
    }

    .page-nav ul {
        line-height: 40px;
        display: flex;
        background: none;
        max-width: 800px;
        margin: auto;
    }

    .page-nav li {
        flex: 25%; /* assumes their's 4 */
    }
}

label {
    display: block;
    /* instead of inline */
    padding-bottom: 0.2em;
    padding-top: 1em;
  }
  
  label strong {
    display: block;
    font-size: 0.9rem;
    color: red;
  }
  
  input, textarea {
    padding: 0.4em 0.3em;
    font-size: 1.5em;
    /* these elements do not inherit the font-family from the body tag */
    font-family: arial, helvetica, sans-serif;
    /* lighter grey, less visually heavy */
    border: 1px solid #bbb; 
    /* make sure our fields aren't too wide or not wide enough */
    border-radius: 5px;
    min-width: 100%;
    max-width: 90%;
  }
  
  input[type="submit"] {
    /* https://developer.mozilla.org/en/docs/Web/CSS/Attribute_selectors */
    display: inline-block;
    /* if you used display:block; this would go right across the page - if you use inline-block the button will only be as wide as the text and the padding */
    min-width: 0;
    /* turn off a minimum width for the button and let the browser work it out */
    background-color: var(--S-primary);
    border: 1px solid var(--S-primary);
    border-radius: 0.2em;
    padding: 13px 30px;
    margin-top: 10px;
    /* top and bottom, left and right */
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    transition: background-color 0.3s ease;
    /* less jarring transition from initial colour to hover colour */
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    /* give it the same cursor as everything else you have to click on */
    background-color: var(--D-primary);
    border: 1px solid var(--D-primary); 
    /* you don't have to change the colour too much for hover states - just make it a little bit lighter or darker */
  }

  .container-content div form p input[type="submit"] {
    text-align: center; margin-left: auto; margin-right: auto; max-width: 700px; display: block;
}
  
.follow-me {
    border-top: 1px solid #eee;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.follow-me img {
    height: 30px;
    width: 30px;
    vertical-align: top;
    margin-left: 40px;
    border-radius: 50%;
}

.follow-me .facebook-logo {
    margin-left: 0;
}

.follow-me img:hover {
    box-shadow: 0 0 0 1px #FFF, 0 0 0 3px var(--D-secondary);
}

.follow-content {
    margin: 10px 0 10px 0;
}

.page-footer {
    background-color: rgb(235, 235, 235);
    width: 100%;
}


