.container-content {padding: 10px; margin-left: auto; margin-right: auto; max-width: 700px; margin-bottom: 0;
    text-align: center;}

.content {text-align: center; padding: 5px; margin-left: auto; margin-right: auto; max-width: 700px; /* border: 1px solid red; */}
.content {font-family: 'Lato', Helvetica, sans-serif;}

img {max-width: 100%; height: auto; border-radius: 5px;}

html {
    box-sizing: border-box;
    /* border: 2px red solid; */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0;
}

.page-header {
    position: relative;
}

.header-bg {
    background-image: url(images/sdfront.jpg);
    background-size: cover;
    background-position: center 60%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter:blur(2.5px);
}

.header-sd {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    z-index: 2;
    height: 100%;
    display: block;
    transition-delay: .5s;
}

h1, h2 {
    font-family: 'Lato', Helvetica, sans-serif;
    margin-bottom: 0;
    color: #1A936F;
    font-size: 30px;
}

.mainheading {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.container-content div p {
    line-height: 25px;
    color: #114B5F;
    font-size: 15px;
    text-align: left;
    /*border: 1px solid red;*/
}

#images .an-image {
    margin-left: 10px;
    margin-right: 10px;
}

.an-image figcaption {
    font-weight: bold;
    padding: 10px 0 0 0;
    text-align: left;
    color: #1A936F;
}

@media screen and (min-width: 667px) {

    .image-gallery{
        margin: 0px 0;
    }
    .image-gallery .content {
        display: flex;
        text-align: left;
        justify-content: center;
        background: none;
      }
      .image-gallery .container-content {
        max-width: 1000px;
      }
      .an-image {
        flex: 33%; /* assumes three images */
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        background: none;
        max-width: 333px; /* change this if you want to */
        text-align: center;
        /* border: 1px solid blue; /* just so you can see what's happening */
      }
}

.image-gallery .container-content {
    max-width: 100%; /* border: 1px solid green; */
    text-align: center;
}
.image-gallery .content {
    max-width: 1200px; /* border: 1px solid green; */
}

.profile-pic {
    border-radius: 50%; 
    width: 100%;
    max-width: 150px;
}

.page-nav {
    position: sticky;
}

.page-nav ul { /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    padding: 0;
}

.page-nav a {
    flex-wrap: wrap;
    display: block;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px;
    color: #1A936F;
    font-weight: bold;
    background-color: #e7e7e7;
}

.page-nav li {
    flex: 1 1 50%;
    display: flex;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.page-nav li:last-child {
    border-right:1px solid #ddd;
}

.page-nav a {
    padding: 15px 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

.page-nav a:hover {
    color: #e7e7e7;
    font-weight: bold;
    background-color: #1A936F;
}

@media screen and (min-width: 770px) {
    .page-nav ul {  flex-wrap: nowrap; }
    .page-nav li {
       flex: 1 1 25%;
    }
    .page-nav {
        margin: 0px 0px;
        justify-content: center;
        background: none;
        margin:auto;
        background: #e7e7e7;
    }

    .page-nav ul {
        display: flex;
        background: none;
        max-width: 800px;
        margin: auto;
        /* border: 5px solid blue; /* just so you can see what's happening */
    }

    .page-nav li {
        flex: 25%; /* assumes theirs 4 */
    }
}

label {
    display: block;
    /* instead of inline */
    padding-bottom: 0.2em;
    padding-top: 1em;
  }
  
  label strong {
    display: block;
    font-size: 0.9rem;
    color: red;
  }
  
  input, textarea {
    padding: 0.4em 0.3em;
    font-size: 1.5em;
      /* these elements do not inherit the font-family from the body tag */
    font-family: arial, helvetica, sans-serif;
    /* lighter grey, less visually heavy */
    border: 1px solid #bbb; 
    /* make sure our fields aren't too wide or not wide enough */
    min-width: 100%;
    max-width: 90%;
  }
  
  input[type="submit"] {
    /* https://developer.mozilla.org/en/docs/Web/CSS/Attribute_selectors */
    display: inline-block;
    /* if you used display:block; this would go right across the page - if you use inline-block the button will only be as wide as the text and the padding */
    min-width: 0;
    /* turn off a minimum width for the button and let the browser work it out */
    background-color: #0bb955;
    border: 1px solid #0bb955; 
    box-shadow: 0 2px 0 0 #087838;
    border-radius: 0.2em;
    padding: 13px 30px;
    margin-top: 10px;
    /* top and bottom, left and right */
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    transition: background-color 0.3s ease;
    /* less jarring transition from initial colour to hover colour */
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    /* give it the same cursor as everything else you have to click on */
    background-color: #087838;
    border: 1px solid #087838; 
    /* you don't have to change the colour too much for hover states - just make it a little bit lighter or darker */
  }

  .container-content div form p input[type="submit"] {
    text-align: center; margin-left: auto; margin-right: auto; max-width: 700px; display: block;
}
  
.follow-me {
    border-top: 1px solid #eee;
    padding: 5px;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    text-align: center;
}

.follow-me img {
    height: 30px;
    width: 30px;
    vertical-align: top;
    margin-left: 50px;
    border-radius: 50%;
}

.follow-me .facebook-logo {
    margin-left: 0;
}

.follow-me img:hover {
    border: 1px solid #FFF;
    box-shadow:0 0 0px 3px #0770cf;
}

.page-footer {
    background-color: rgb(235, 235, 235);
    width: 100%;
}



